# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.idea/The-Mistral-Report-OCS.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/CWSDPMI.EXE
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/feature_tests.bin
/cmake-build-debug/CMakeFiles/feature_tests.c
/cmake-build-debug/CMakeFiles/feature_tests.cxx
/cmake-build-debug/CMakeFiles/game.dir/C.includecache
/cmake-build-debug/CMakeFiles/game.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/game.dir/build.make
/cmake-build-debug/CMakeFiles/game.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/game.dir/depend.internal
/cmake-build-debug/CMakeFiles/game.dir/depend.make
/cmake-build-debug/CMakeFiles/game.dir/flags.make
/cmake-build-debug/CMakeFiles/game.dir/link.txt
/cmake-build-debug/CMakeFiles/game.dir/progress.make
/cmake-build-debug/CMakeFiles/mistral-ocs.dir/C.includecache
/cmake-build-debug/CMakeFiles/mistral-ocs.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/mistral-ocs.dir/build.make
/cmake-build-debug/CMakeFiles/mistral-ocs.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/mistral-ocs.dir/depend.internal
/cmake-build-debug/CMakeFiles/mistral-ocs.dir/depend.make
/cmake-build-debug/CMakeFiles/mistral-ocs.dir/flags.make
/cmake-build-debug/CMakeFiles/mistral-ocs.dir/link.txt
/cmake-build-debug/CMakeFiles/mistral-ocs.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/Makefile
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/game.cbp
/cmake-build-debug/mistral-ocs
/cmake-build-debug/mistral-ocs.cbp
/data/packer
/game12k
/mistocs.adf
CWSDPMI.SWP
.idea/.name
data4/packer
data5/packer
